@import url('https://fonts.googleapis.com/css?family=Numans');

html {
  /* background-image: url("../background-game.jpeg"); */
  background-image: url('../src/background-game.jpeg');
  background-size: cover;
  background-repeat: inherit;
  height: 100%;
  font-family: 'Numans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 12px;
}

.container, .config {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}
.container h1, .config h1 {
  margin-bottom: 70px;
  color: #ff7d12e7;
}

.divLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50%;
}

.card {
  height: 300px;
  margin-top: auto;
  margin-bottom: auto;
  width: 300px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-header {
  height: 80px;
  width: 100%;
  color: White;
  font-size: 25px;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 70%;
  height: 30px;
  border: none;
  margin: 10px 0;
  border-radius: 3px;
  font-family: 'Numans', sans-serif;
  padding: 0 10px;
}

.login_btn,
.settings_btn,
.btn-config,
.buttonsFeedback button,
.buttonsRanking button {
  width: 70%;
  height: 30px;
  border: none;
  border-radius: 3px;
  margin: 10px 0;
  font-family: 'Numans', sans-serif;
  color: rgb(255, 255, 255);
  background-color: #ff7d12e7;
  width: 100px;
}

.settings_btn,
.btn-config,
.buttonsFeedback button,
.buttonsRanking button {
  background-color: rgba(128, 128, 128, 0.541);
  color: #ffffffe7;
  font-size: 10px;
  border: 1px solid white;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.login_btn:hover {
  color: black;
  background-color: #ff7d12e7;
}

.login_btn:disabled {
  background-color: rgba(128, 128, 128, 0.541);
  color: white;
  border: 1px solid white;
}

.game {
  margin-top: 20%;
  min-width: 600px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game h1, .ranking h1 {
  color: #ff7d12e7;
  font-size: 50px;
}

.feedback, .ranking{
  margin-top: 20%;
  min-width: 600px;
  min-height: 500px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.divCongrat {
  color: #ff7d12e7;
  font-size: 30px;
}

.emoji {
  font-size: 80px;
  margin: 40px 0;
}

.placar {
  display: flex;
}
.placar p {
  margin: 0 20px;
  color: #ff7d12e7;
  font-size: 20px;
}

.buttonsFeedback,
.buttonsRanking {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
}

.buttonsFeedback button,
.buttonsRanking button {
  margin: 0 20px;
}

.buttonsFeedback button:hover,
.btn-config:hover,
.settings_btn:hover,
.buttonsRanking button:hover {
  background-color: #ff7d12e7;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 600px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white;
  border-radius: 5px;
}

.headerGamer {
  display: flex;
  align-items: center;
}

.gravatar {
  width: 30px;
  margin-right: 10px;
  border-radius: 5px;
}

.divQuestion {
  background-color: #ffffffc9;
  width: 600px;
  min-height: 350px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: space-between;
}

.category {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  color: purple;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.question {
  text-align: center;
  margin-bottom: 20px;
  color: purple;
}

.timer {
  text-align: center;
  width: 25px;
  background-color: #ff7d12e7;
  color: white;
  font-size: 22px;
  padding: 20px;
  border-radius: 50%;
}

.answers {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.answers button {
  padding: 10px;
  margin: 10px;
  min-width: 100px;
  border-radius: 5px;
  color: purple;
}

.nextBtn {
  font-size: 18px;
  background-color: #ff7d12e7;
  color: white;
  padding: 10px;
  margin: 10px;
  width: 150px;
  border-radius: 5px;
  border-color: purple;
}

.correct {
  border: 3px solid rgb(6, 240, 15);
}

.incorrect {
  border: 3px solid rgb(255, 0, 0);
}

.playersRanking {
  display:flex;
  align-items: center;
  border-bottom: 1px solid #ff7d12e7;
  margin-bottom: 20px;
}

.playersRanking span {
  font-size: 20px;
}

.playersRanking img {
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.rankingImg {
  display: flex;
  justify-content: flex-start;
  width: 120px;
  font-size: 20px;
}

.rankingScore {
  width: 120px;
  font-size: 20px;
}

.rankingName {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  white-space: normal;
}

.selectConfig {
  width: 50%;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 16px;
  color: purple;
}

.config {
  margin-top: 30%;
}
