@import url('https://fonts.googleapis.com/css?family=Numans');

html {
  /* background-image: url("../background-game.jpeg"); */
  background-image: url('../src/background-game.jpeg');
  background-size: cover;
  background-repeat: inherit;
  height: 100%;
  font-family: 'Numans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-size: 12px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}
.container h1 {
  margin-bottom: 70px;
  color: #ff7d12e7;
}

.divLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50%;
}

.card {
  height: 300px;
  margin-top: auto;
  margin-bottom: auto;
  width: 300px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-header {
  height: 80px;
  width: 100%;
  color: White;
  font-size: 25px;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 70%;
  height: 30px;
  border: none;
  margin: 10px 0;
  border-radius: 3px;
  font-family: 'Numans', sans-serif;
  padding: 0 10px;
}

.login_btn,
.settings_btn {
  width: 70%;
  height: 30px;
  border: none;
  border-radius: 3px;
  margin: 10px 0;
  font-family: 'Numans', sans-serif;
  color: rgb(255, 255, 255);
  background-color: #ff7d12e7;
  width: 100px;
}

.settings_btn {
  background-color: rgb(102, 102, 102);
  color: #ffffffe7;
  font-size: 10px;
  border: 1px solid white;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.login_btn:hover {
  color: black;
  background-color: #ff7d12e7;
}

.login_btn:disabled {
  background-color: rgba(128, 128, 128, 0.541);
  color: white;
  border: 1px solid white;
}

.game {
  margin-top: 30%;
  min-width: 600px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game h1 {
  color: #ff7d12e7;
  font-size: 50px;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 600px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white;
  border-radius: 5px;
}

.headerGamer {
  display: flex;
  align-items: center;
}

.gravatar {
  width: 30px;
  margin-right: 10px;
  border-radius: 5px;
}

.divQuestion {
  background-color: #ffffffc9;
  width: 600px;
  min-height: 350px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: space-between;
}

.category {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  color: purple;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.question {
  text-align: center;
  margin-bottom: 20px;
  color: purple;
}

.timer {
  text-align: center;
  width: 25px;
  background-color: #ff7d12e7;
  color: white;
  font-size: 22px;
  padding: 20px;
  border-radius: 50%;
}

.answers {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.answers button {
  padding: 10px;
  margin: 10px;
  min-width: 100px;
  border-radius: 5px;
  border-color: purple;
  color: purple;
}

.nextBtn {
  font-size: 18px;
  background-color: #ff7d12e7;
  color: white;
  padding: 10px;
  margin: 10px;
  width: 150px;
  border-radius: 5px;
  border-color: purple;
}
